<div class="container">
  <!-- Heading -->
  <h1>Routing and Navigation</h1>

  <!-- Buttons for navigation -->
  <div class="button-container">
    <button (click)="redirectToDepartmentList()" class="button">
      Departments
    </button>
    <button (click)="redirectToEmployeeList()" class="button">Employees</button>
  </div>

  <!-- Div for routing output -->
  <div class="routing-output">
    <!-- router-outlet to display routed components -->
    <router-outlet></router-outlet>
  </div>
</div>
